{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{car.name}}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="h-screen w-screen bg-[url('{{car.image.url}}')] bg-cover bg-center bg-no-repeat">
        <div class="p-3 flex flex-col items-center gap-3">
            <p class="text-2xl text-white bg-black/50 p-2 rounded">Бренд: {{car.name}}</p>
            <p class="text-xl text-white bg-black/50 p-2 rounded">Модель: {{car.model}}</p>
            <p class="text-xl text-white bg-black/50 p-2 rounded">Цена: {{car.price}} $</p>
            <p class="text-md text-white bg-black/50 p-2 rounded"> Описание: {{car.description}}</p>
            <p class="text-md text-white bg-black/50 p-2 rounded">Продавец: {{ car.user.username }}</p>

            <form action="{% url 'delete_car' car.id %}" method="post" class="mt-4">
                <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-800">
                    Удалить автомобиль
                </button>
            </form>
            <a href="{% url 'update_car' car.id %}" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-800 mt-4 inline-block">
                Обновить данные
            </a>



        </div>
    </div>
</body>
</html>