{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<div class="p-2">
    {% if user.is_authenticated %}
        <a href="{% url 'add_car' %}">
            <button class="bg-yellow-300 p-2 rounded-md cursor-pointer">Добавить обьявление</button>
        </a>
    {% endif %}

    <div class="flex justify-end gap-2 items-center">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'register' %}">
                <button class="bg-blue-400 p-2 rounded-md cursor-pointer">Регистрация</button>
            </a>
            <a href="{% url 'login' %}">
                <button class="bg-green-400 p-2 rounded-md cursor-pointer">Войти</button>
            </a>
        {% else %}
            <h1 class="text-lg font-semibold">Авторизован: {{ request.user.username }}</h1>
            <a href="{% url 'logout' %}">
                <button class="bg-red-500 p-2 rounded-md cursor-pointer">Выйти</button>
            </a>
        {% endif %}
    </div>

    <div class="grid grid-cols-5">
        {% for car in cars %}
        <a href="{% url 'car_info' car.id %}" class="cursor-pointer">
            <div class="p-3 flex flex-col gap-3">
                <h2 class="p-0">{{ car.name }}</h2>
                <img src="{{ car.image.url }}" alt="Car image" class="h-[150px] w-[220px] object-cover">
                <h4>Цена: {{car.price}}$</h4>
                <h4>Категория: {{car.category}}</h4>
                <h4 class="text-sm text-gray-500">Создатель: {{ car.user.username }}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

</body>
</html>
